<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Menu Item</title>
    <link rel="stylesheet" href="../styles.css">

</head>
<body>
    <div class="navbar mb-2 border-5 border-secondary navbar-light bg-light ">
    <a class="navbar-brand">New Vehicle</a>
    </div>  

    <form method="post" action="addVehicle" class="form-group ml-2 " style='width: fit-content;'>
        <div class="d-flex flex-row mb-3">
            <div class="form-check mr-2">
                <input class="form-check-input" type="radio" name="vType" id="exampleRadios1" value="C" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Car
                </label>
            </div>
            <div class="form-check mr-2">
                <input class="form-check-input" type="radio" name="vType" id="exampleRadios2" value="B">
                <label class="form-check-label" for="exampleRadios2">
                    Bus
                </label>
            </div>
            <div class="form-check mr-2">
                <input class="form-check-input" type="radio" name="vType" id="exampleRadios3" value="T" >
                <label class="form-check-label" for="exampleRadios3">
                    Truck
                </label>
            </div>
            <div class="form-check mr-2">
                <input class="form-check-input" type="radio" name="vType" id="exampleRadios3" value="M" >
                <label class="form-check-label" for="exampleRadios3">
                    Motorcycle
                </label>
            </div>
        </div>
        <input type="text" id="vDescription" name="vDescription" class="form-control" placeholder="Vehicle Description"><br>
       
        <input type="text" id="vYear" name="vYear" class="form-control" placeholder="Year"><br>
        <input type="text" id="vMileage" name="vMileage" class="form-control" placeholder="Mileage"><br>
        <input type="text" id="vStillUsing" name="vStillUsing" class="form-control" placeholder="Still Using? (Y or N)"><br>
        <button type="submit" value="Add" class=" btn btn-dark">Add Item</button>
    </form>
    <button class="btn btn-secondary ml-2" onclick="(window.location.assign('/displayvehicle'))">Cancel</button>


</body>
</html>